* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #191970;
}

#btn-1 button {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: slateblue;
    margin-left: 40%;
    margin-top: 200px;
}

.btn2 button {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: slateblue;
    margin-left: 40%;
    margin-top: 200px;
}

.buttons {
    display: flex;
    flex-direction: column;
}